*{
    margin: 0;
    padding: 0;
}

.container{
   box-sizing: border-box;
    margin: 20px;
    padding: 20px;
    justify-content: center;
  position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.animate{

}

.title{
    position: absolute;
    max-width: 500px;
    color: white;
   
}


